<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome! - YUZU</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ent7xro.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="grid-container">
      <h1>Ready to learn?</h1>
         <img src="/imgs/home/Logoyuzu.png" alt="Yuzu Logo"></div>
      <div class = "signin-button">
        <!-- link to take user to sign in -->
      <a href="/signin" class="LetMeIn">
        Yes! Let me in  
        </a>
      </div>
          
  </body>
</html>
