<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>leaderboard - YUZU</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ent7xro.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <header>
      <div class="heading-graphic">
        <h1>YUZU</h1>
            <!-- logo -->
            <img src="/imgs/home/Logoyuzu.png" alt="Logo">
          
      </div>
      
      <nav role="navigation">
        <div id="menuToggle">
          
          <input type="checkbox" />
          
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <!-- nav bar -->
            <a href="#"><li class = "current">Leaderboard</li></a>
            <a href="/home"><li>Home</li></a>
            <a href="/leaderboard"><li>Leaderboard</li></a>
            <a href="/profile"><li>Profile</li></a>
            <a href="/flashcards"><li>Flashcards</li></a>
          </ul>
        </div>
      </nav>
    </header>
<table class="leaderboard-content">
  <!-- for loop that displays all users with their score from high to low -->
 <%username.forEach(function(username){ %>
  <thead>
      <tr>
          <th>Name</th>
          <th>Score</th>
      </tr>
  </thead>
  <tbody>
      <tr>

     
          <!-- lists users name and their score -->
          <td><%= username.username %></td>
          <td><%= username.score %></td>
        <!-- end of for loop -->
          <%}) %>
       

                    
      </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
  </body>
</html>
