<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Password - YUZU</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ent7xro.css">

  </head>
  <body>
    <header>
      <div class="heading-graphic">
        <br>
        <br>
        <h1>YUZU</h1>
        <!-- logo -->
        <!-- logo -->
      <img src="/imgs/home/Logoyuzu.png" alt="Logo">
      </div>
    </header>

    <div class="signup-wrapper">
      <p>Hello, <%= userdetails.username %>. Thank you for verifying!</p>
      <br>
      <p>Please type in a new password below:</p>
      <form class="signup-form" method="POST" action="/signin/resetting">
        <input type="hidden" name="username" value=<%= userdetails.username %>>
        <input id="password" type="password" name="password" value="" placeholder="Password">
        <input id="password2" type="password" name="password2" value="" placeholder="Re-enter your Password">
        <input style="width: 60%;font-size: 18px;height:40px;" type="submit" value="Reset"/>
      </form>
    </div>

  </body>
</html>