<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up - YUZU</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ent7xro.css">

  </head>
  <body>
    <header>
      <div class="heading-graphic">
        <br>
        <br>
        <h1>YUZU</h1>
        <!-- logo -->
        <!-- logo -->
      <img src="/imgs/home/Logoyuzu.png" alt="Logo">
      </div>
    </header>

    <main>
        <div class="signup-wrapper">
            <h2>Error!</h2>
            <p>An error in your registered data has been detected.</p>
            <p>Please double check your inputted data and ensure it matches the requirements.</p>
            <a href="/signin/register">Back to Register</a><p> </p>
            <a href="/signin">Sign In</a>
        </div>
    </main>

  </body>
</html>