<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reset Password - YUZU</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/ent7xro.css">

  </head>
  <body>
    <header>
      <div class="heading-graphic">
        <br>
        <br>
        <h1>YUZU</h1>
       <!-- logo -->
       <img src="/imgs/home/Logoyuzu.png" alt="Logo">
      </div>
    </header>

    <main>
        <div class="signup-wrapper">
            <h2>Success!</h2>
            <p>Your password has been changed successfully!</p>
            <p>You can now sign in under your new password.</p>
            <a href="/signin">Back to Sign In</a>
        </div>
    </main>

  </body>
</html>